/*body{
    display: block;
    place-items: center;
    width: 50%;
}*/

* {

    color: rgb(200, 9, 9);
  }

html {
    background-color: rgb(0, 0, 0);
    scroll-behavior: smooth;
  }

header{

}

nav{

}

.navilinkit{
  display: flex;
  justify-content: center;
  list-style-type: none;

}

.navilinkit a{

  font-size: 1.3rem;

  margin: 1vw;

}

.navilinkit a:hover{
  font-size: 2rem;
  color: rgb(250, 39, 39);
}

img.news-image {
    width: 20vw;
    margin: 2px;
  }
  p.news-info {
    margin-top: 0;

  }

  .news-item {
    clear: both;
  }

  .news-item:nth-child(odd) div.news-info {
    float: right;
    padding-right: 25vw;
    max-width: 25vw;
  }
  .news-item:nth-child(even) div.news-info {
    float: left;
    padding-left: 25vw;
    max-width: 25vw;
  }

  .news-item:nth-child(odd) div.news-image {
    float: left;
    padding-left: 25vw;
  }

  .news-item:nth-child(even) div.news-image {
    float: right;
    padding-right: 25vw;
  }



  .centertext{
    max-width: 30vw;
    margin: auto;
    display: grid;
  }

  .clear{
    clear: both;
  }


h1,
h2,
h3,
h4,
a {

    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    color: rgb(200, 9, 9);
    padding-bottom: 2rem;
    padding-top: 2rem;
    max-width: 30vw;
    margin: auto;
    display: grid;
}

h1{
  font-size: 3rem;
}

h2{
  font-size: 2rem;
  padding-bottom: 6rem;
  padding-top: 4rem;
  text-align: center;
}

a {
  text-align: center;
  margin: auto;
}

p{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    font-variation-settings: "wdth" 100;
    color: rgb(245, 239, 239);
    max-width: 55ch;
}

.quotes {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
  font-size: 1.2rem;
  font-variation-settings: "wdth" 100;
  color: rgb(245, 239, 239);
  max-width: 55ch;
}

.galleriakuvat,
.kuva{
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    max-width: 55vw;
    max-height: 55vh;
    border-color: aqua;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.galbutt{
  height: 200px;
  position: relative;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.nappi-img{
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  width: 10vw;
  max-height: 100px;
  padding: 1vw;
  background-color: black;
}

/*




  main{
    width: 100%;
    margin: auto;
    color: #1f2027;
    line-height: 30px;
    text-align: left;
}



.pixelart{
        image-rendering: pixelated;
        image-rendering: -moz-crisp-edges;
        image-rendering: crisp-edges;
}

.envkuva,
.galkuva,
.kuva,
.nappi-img{
    display: block;
    margin-left: 20%;
    max-width: 50%;
    height: auto;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

.poop
{

}
  */
