/*body{
    display: block;
    place-items: center;
    width: 50%;
}*/

* {

    color: rgb(200, 9, 9);
  }

html {
    scroll-behavior: smooth;
    background-color: rgb(216, 197, 197);
  }


img.news-image {
    background: #dadada;
    height: 40em;
  }
  p.news-info {
    margin-top: 0;
  }

  .news-item {
    clear: both;
    border-top: 1px solid #dadada;
    
  }

  .news-item:nth-child(odd) div.news-info {
    float: right;
    padding-right: 25em;
    text-align: left;
  }
  .news-item:nth-child(even) div.news-info {
    float: left;
    padding-left: 25em;
    text-align: left;
  }

  .news-item:nth-child(odd) div.news-image {
    float: left;
    padding-left: 25em;
    
  }

  .news-item:nth-child(even) div.news-image {
    float: right;
    padding-right: 25em;
  }













h1,
h2,
h3,
h4,
a {

    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    color: rgb(200, 9, 9);
    padding-bottom: 2rem;
    padding-top: 2rem;
}
/*
h1{
    font-size: 3rem;
}

h2{
    text-align: center;
    font-size: 2rem;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 0fr;
    padding-bottom: 6rem;
    padding-top: 4rem;
}

h3,
a {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 1.2fr 0fr;
}

p,
.left,
.right {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    font-variation-settings: "wdth" 100;
    color: rgb(245, 239, 239);
    max-width: 1200px;
    margin: auto;
    padding-bottom: 2rem;
    display: grid;
    grid-template-columns: 1.2fr 1.2fr;
}

  main{
    width: 100%;
    margin: auto;
    color: #1f2027;
    line-height: 30px;
    text-align: left;
}

.quotes {
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: italic;
        font-variation-settings:"wdth" 100;
        color: rgb(245, 239, 239);
        max-width: 1200px;
        margin: auto;
        padding-bottom: 0.8rem;
        display: grid;
        grid-template-columns: 1.2fr 1fr;
}

.pixelart{
        image-rendering: pixelated;
        image-rendering: -moz-crisp-edges;
        image-rendering: crisp-edges;
}

.envkuva,
.galkuva,
.kuva,
.nappi-img{
    display: block;
    margin-left: 20%;
    max-width: 50%;
    height: auto;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

.poop
{

}
  */
